body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 80px;
    position: relative;
    border-bottom: 1px solid grey;
}
ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}
ul a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
ul i{
    display: none;
    font-weight: 800;
    font-size: 30px;
}
.nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: black;
    padding: 0 20px;
    font-size: 20px;
}
main{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    margin-top: 30px;
}
.container{
    width: 50%;
    padding-left: 30px;
}
.container a{
    background-color: aquamarine;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.contain{
    width: 50%;
}
.contain img{
    width: 100%;
}
@media (max-width:600px) {
    header{
        background-color: aquamarine;
        
    }
    .nav{
        color: white;
    }
    ul i{
        display: block;
        color: white;
    }
    ul a{
        display: none;
    }
    main{
        flex-wrap: wrap;
    }
    .contain {
        width: 100%;
        padding-top: 20px;
    }
}